.header-container {
    margin: 20px 0;
}

.header-title {
    color: #336699;
}

.header-navbar-btn {
    background: #E7E7E7;
    font-size: 16px;
    padding: 15px 10px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    cursor: pointer;
}