.top-heroes-title {
    text-align: center;
}

.top-heroes-list {
    margin: 20px 0;
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
}

.top-heroes-item {
    background: #3F525C;
    color: #FCFCFC;
    padding: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}